<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Purpose is a unique and beautiful collection of UI elements that are all flexible and modular. A complete and customizable solution to building the website of your dreams."
    />
    <meta name="author" content="Webpixels" />
    <title>LearnFlow</title>
    <!-- Favicon -->
    <link rel="icon" href="/cstm-assets/logo.svg" type="image/png" />
    <!-- Font Awesome 5 -->
    <link
      rel="stylesheet"
      href="/libs/@fortawesome/fontawesome-free/css/all.min.css"
    />
    <!-- Purpose CSS -->
    <link rel="stylesheet" href="/css/purpose.css" id="stylesheet" />
    <link href="https://vjs.zencdn.net/8.0.4/video-js.css" rel="stylesheet" />

    <style>
      #my-video {
        width: 640px;
        height: 400px;
      }
      @media screen and (max-width: 776px) {
        #my-video {
          width: 350px;
          height: 200px;
        }
      }
    </style>
  </head>

  <body>
    <header class="header" id="header-main">
      <!-- Main navbar -->
      <%- include('partials/navbar'); %>
    </header>

    <div class="main-content">
      <!-- Header (account) -->

      <section class="slice slice-lg" data-offset-top="#header-main">
        <div class="container pt-6">
          <div class="row justify-content-center">
            <div class="col-md-9 mb-4">
              <h1 class="lh-150 mb-3"><%= post.title %></h1>

              <div class="media align-items-center mt-5">
                <div>
                  <a
                    href="blog-article.html#"
                    class="avatar rounded-circle mr-3"
                  >
                    <img alt="Image placeholder" src="<%= author.image %>" />
                  </a>
                </div>
                <div
                  class="media-body"
                  style="display: grid; grid-template-columns: 1fr auto"
                >
                  <div>
                    <span class="d-block h6 mb-0"
                      ><%= author.displayName %></span
                    >
                    <span class="text-sm text-muted"><%= postDate %></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="slice">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <!-- Article body -->
              <article><%- post.description %></article>
              <hr />
              <h5 class="mb-4">Comments</h5>

              <% for(const comment of commentList) { %>
              <div class="media media-comment">
                <img
                  alt="Image placeholder"
                  class="rounded-circle shadow mr-4"
                  src="<%= comment.authorImage %>"
                  style="width: 64px; height: 64px"
                />
                <div class="media-body" id="comment-<%= comment._id %>">
                  <div class="media-comment-bubble left-top">
                    <h6 class="mt-0"><%= comment.author %></h6>
                    <p class="text-sm lh-160"><%= comment.commentText %></p>
                    <div class="icon-actions">
                      <button
                        href="blog-article.html#"
                        class="btn btn-small"
                        onclick="loadReplies(`<%= comment._id %>`, `<%= comment.depth %>`)"
                      >
                        <i class="fas fa-comment"></i>
                        <span class="text-muted">View Replies</span>
                      </button>

                      <button
                        href="blog-article.html#"
                        class="btn btn-small"
                        onclick="addReplyBox(`<%= comment._id %>`, `<%= comment.depth %>`)"
                      >
                        <i class="fas fa-reply"></i>
                        <span class="text-muted">Reply</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <% } %>

              <div class="media media-comment align-items-center">
                <img
                  alt="Image placeholder"
                  class="avatar rounded-circle shadow mr-4"
                  src="<%= user.image %>"
                />
                <div class="media-body">
                  <form class="post-<%= post._id %>" id="post-<%= post._id %>">
                    <div class="form-group mb-0">
                      <div class="input-group input-group-merge border">
                        <textarea
                          class="form-control"
                          data-toggle="autosize"
                          name="commentText"
                          id="commentText"
                          placeholder="Write your comment"
                          rows="1"
                        ></textarea>
                        <div class="input-group-append">
                          <button
                            class="btn btn-primary"
                            form="post-<%= post._id %>"
                            id="comment-button-<%= post._id %>"
                            type="submit"
                          >
                            <span class="fas fa-paper-plane"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <%- include('partials/footer') %>
    <!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
    <script src="/js/purpose.core.js"></script>
    <!-- Page JS -->
    <script src="/libs/autosize/dist/autosize.min.js"></script>
    <script src="https://vjs.zencdn.net/8.0.4/video.min.js"></script>
    <!-- Purpose JS -->
    <script src="/js/purpose.js"></script>
    <!-- Demo JS - remove it when starting your project -->
    <script src="/js/demo.js"></script>

    <script>
      const commentForm = document.querySelector(`.post-<%- post._id %>`);
      commentForm.addEventListener("submit", async (e) => {
        e.preventDefault();
        const commentText = commentForm.commentText.value;
        const postId = `<%- post._id %>`;
        const depth = 1;
        const parentId = null;

        try {
          const res = await fetch("/comment/create", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
              commentText,
              postId,
              depth,
              parentId,
            }),
          });

          const data = await res.json();
          if (data.id) {
            window.location.reload(true);
          } else {
            alert("Oops something went wrong");
          }
        } catch (error) {
          alert("Oops something went wrong");
        }
      });
    </script>

    <script>
      const addReplyBox = (parentId, parentDepth) => {
        const parentDiv = document.querySelector(`#comment-${parentId}`);

        const replyBox = document.createElement("div");
        replyBox.classList.add("media", "media-comment", "align-items-center");

        const replyButtonFunction =
          "replyFunction(`" + parentId + "`,`" + parentDepth + "`)";

        replyBox.innerHTML = `
                  <img
                    alt="Image placeholder"
                    class="avatar rounded-circle shadow mr-4"
                    src="<%= user.image %>"
                  />
                  <div class="media-body">
                    <form
                      class="comment-reply-${parentId}"
                      id="comment-<%= user.username %>-${parentId}-${parentDepth}"

                    >
                      <div class="form-group mb-0">
                        <div class="input-group input-group-merge border">
                          <textarea
                            class="form-control"
                            data-toggle="autosize"
                            name="commentText"
                            id="commentText"
                            placeholder="Write your comment"
                            rows="1"
                          ></textarea>
                          <div class="input-group-append">
                            <button
                              class="btn btn-primary"
                              form="comment-${parentId}"
                              id="comment-button-${parentId}"
                              onclick = "${replyButtonFunction}"
                              type="submit"
                            >
                              <span class="fas fa-paper-plane"></span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
        `;

        parentDiv.appendChild(replyBox);
      };

      const replyFunction = async (parentId, parentDepth) => {
        const parentForm = document.querySelector(`.comment-reply-${parentId}`);
        const commentText = parentForm.commentText.value;
        const postId = `<%- post._id %>`;
        const depth = Number(parentDepth) + 1;

        try {
          const res = await fetch("/comment/create", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
              commentText,
              postId,
              depth,
              parentId,
            }),
          });

          const data = await res.json();
          const parent = document.querySelector(`#comment-${parentId}`);
          if (data._id) {
            const comment = data;
            // window.location.reload(true);
            const commentBox = document.createElement("div");
            commentBox.classList.add("media", "media-comment");

            const loadReplyButtonFunction =
              "loadReplies(`" + comment.id + "`,`" + depth + "`)";
            const replyButtonFunction =
              "addReplyBox(`" + comment.id + "`,`" + depth + "`)";

            commentBox.innerHTML = `
              <img
                  alt="Image placeholder"
                  class="rounded-circle shadow mr-4"
                  src="${comment.authorImage}"
                  style="width: 64px; height: 64px"
                />
                <div class="media-body" id="comment-${comment._id}">
                  <div class="media-comment-bubble left-top">
                    <h6 class="mt-0">${comment.author}</h6>
                    <p class="text-sm lh-160">${comment.commentText}</p>
                    <div class="icon-actions">
                      <button
                        href="blog-article.html#"
                        class="btn btn-small"
                        onclick="${loadReplyButtonFunction}"
                      >
                        <i class="fas fa-comment"></i>
                        <span class="text-muted">View Replies</span>
                      </button>

                      <button
                        href="blog-article.html#"
                        class="btn btn-small"
                        onclick="${replyButtonFunction}"
                      >
                        <i class="fas fa-reply"></i>
                        <span class="text-muted">Reply</span>
                      </button>
                    </div>
                  </div>
                </div>`;

            parent.append(commentBox);

            parentForm.parentElement.parentElement.remove();
          } else {
            alert("Oops something went wrong");
          }
        } catch (error) {
          console.log(error);
          alert("Oops, something went wrong");
        }
      };

      const loadReplies = async (parentId, parentDepth) => {
        try {
          const res = await fetch(
            `/comment/fetch/reply?parentId=${parentId}&parentDepth=${parentDepth}`,
            {
              method: "GET",
              headers: { "Content-Type": "application/json" },
            }
          );
          const data = await res.json();
          if (data.replyList) {
            const replyList = data.replyList;
            const parent = document.querySelector(`#comment-${parentId}`);
            for (var comment of replyList) {
              const commentBox = document.createElement("div");
              commentBox.classList.add("media", "media-comment");

              const loadReplyButtonFunction =
                "loadReplies(`" + comment._id + "`,`" + comment.depth + "`)";
              const replyButtonFunction =
                "addReplyBox(`" + comment._id + "`,`" + comment.depth + "`)";

              commentBox.innerHTML = `
              <img
                  alt="Image placeholder"
                  class="rounded-circle shadow mr-4"
                  src="${comment.authorImage}"
                  style="width: 64px; height: 64px"
                />
                <div class="media-body" id="comment-${comment._id}">
                  <div class="media-comment-bubble left-top">
                    <h6 class="mt-0">${comment.author}</h6>
                    <p class="text-sm lh-160">${comment.commentText}</p>
                    <div class="icon-actions">
                      <button
                        href="blog-article.html#"
                        class="btn btn-small"
                        onclick="${loadReplyButtonFunction}"
                      >
                        <i class="fas fa-comment"></i>
                        <span class="text-muted">View Replies</span>
                      </button>

                      <button
                        href="blog-article.html#"
                        class="btn btn-small"
                        onclick="${replyButtonFunction}"
                      >
                        <i class="fas fa-reply"></i>
                        <span class="text-muted">Reply</span>
                      </button>
                    </div>
                  </div>
                </div>`;

              parent.append(commentBox);
            }
          }
        } catch (error) {
          console.log(error);
          alert("Oops something went wrong");
        }
      };
    </script>
  </body>
</html>
